<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Изучение слов</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        👤 <span id="username">Загрузка...</span>
    </header>

    <main>
        <p>Выберите действие ниже</p>
    </main>

    <footer>
        <button onclick="alert('Изучение языка')">Изучение языка</button>
        <button onclick="alert('Тренировки')">Тренировки</button>
    </footer>

    <script src="/static/scripts.js"></script>
</body>
</html>
